<script>document.body.id = 'normalBodyHeight';</script>
<main id="updates">
    
    <h2>My Updates</h2>
    <div class="tableContainer">
    <table data-update-offset="0" class="hide">
        <thead><th>#</th><th>Item</th><th>Brand</th><th>Size</th><th>Price</th><th>Store</th><th>Date</th></thead>
        <tbody>
           
        </tbody>
    </table>
</div>
<form method="POST" action="./index.php">
    <input type="hidden" name="task" value="profile">
    <input type="submit" name="profile" value="Back to Profile">
</form>
</main>